/*  1200 */


/* 1024 992 768 600 */
@media screen and (max-width: 1200px) {
   .send-links {
      grid-template-columns: 100%;
   }

   .send-links .iphone-logo {
      display: none;
   }

   .devlinks-img {

      /* width: 200px !important;
   height: 40px; */
   }

}

@media screen and (max-width:768px) {


   /* .devlinks-img {
   width: 150px;
} */
   .link {
      padding: 13px 10px;
      margin-right: 30px;
      border-radius: 6px;
      font-size: 14px;

   }


   .nav .profile {
      padding: 13px 10px;
      margin-right: 30px;
      border-radius: 6px;
      font-size: 14px;

   }

   .nav #preview {
      padding: 13px 10px;
      font-size: 14px;
   }
   /* page datails */
   .datails_profile p:last-child {
      font-size: 13px;
   }
}

@media screen and (max-width:690px) {
   .nav .container {
      justify-content: flex-start;

   }

   .devlinks {
      width: 110px !important;

   }

   .link {
      padding: 13px 10px;
      margin-right: 30px;
      border-radius: 6px;
      font-size: 14px;

   }


   .nav .profile {
      padding: 13px 10px;
      margin-right: 30px;
      border-radius: 6px;
      font-size: 14px;

   }

   .nav #preview {
      padding: 13px 10px;
      font-size: 14px;
   }
}

.links h1 {
   font-size: 30px;

}

.links p {
   font-size: 13px;

}

.links .add-new-link {
   font-size: 13px;

}

.links .linkes-main h4 {
   font-size: 15px;

}

.links .link1 #selecetfield,
.links .link1 .chose-link {
   padding: 14px 25px;
}



@media screen and (max-width:590px) {
.nav {
      display: flex;
      flex-direction: row;
      justify-content:center;
      justify-content: space-around;
      /* align-items: center; */
      min-height: 100px;
      /* background: #d20404; */
      width: 100%;
      margin-top: 30px;
      /* padding: 0px 20px; */

   }
      

   .devlinks {
      background-image: url(images/logo-devlinks-small.svg);
      width: 25% !important;

   }

   .link a {
      display: none;
   }

   .nav .profile a {
      display: none;
   }

   .nav .preview {
      background-image: url(images/icon-preview-header.svg);
      width: 100px;
      max-width: 100%;
      height: 20px;
      background-repeat: no-repeat;
   }
   .nav #preview {
      display: none;
   }
   /* datails_profile */
   .change-image {

         background: #fafafa;
         display: flex;
         flex-direction: column;
         /* grid-template-columns: 1fr; */
         justify-content: center !important;
         align-items: center;
         height: auto !important;

   }
            .datails_profile p:last-child {
               font-size: 15px;
            }

}