/*  1200 */


/* 1024 992 768 600 */
@media screen and (max-width: 1200px) {
   .send-links {
      grid-template-columns: 100%;
   }

   .send-links .iphone-logo {
      display: none;
   }
}

@media screen and (max-width:768px) {
   .devlinks-img {
      width: 80%;
   }


   /* page datails */
   .datails_profile p:last-child {
      font-size: 13px;
   }
}

@media screen and (max-width:690px) {
   .devlinks-img {
      width: 80%;
   }

   .main,
   .nav .profile,
   .nav #preview {
      padding: 13px 10px;
      border-radius: 6px;
      font-size: 14px;

   }
}

.links h1 {
   font-size: 30px;

}

.links p {
   font-size: 13px;

}

.links .add-new-link {
   font-size: 13px;

}

.links .linkes-main h4 {
   font-size: 15px;

}

.links .link1 #selecetfield,
.links .link1 .chose-link {
   padding: 14px 25px;
}



@media screen and (max-width:590px) {


   .nav .main,
   .nav .profile,
   .nav #preview {
      padding: 10px 7px;
      font-size: 13px;
   }

   .devlinks-img {
      width: 90%;
   }

   .profile {
      margin-left: 3px;
   }
}

/* datails_profile */
.change-image {

   background: #fafafa;
   display: flex;
   flex-direction: column;
   /* grid-template-columns: 1fr; */
   justify-content: center !important;
   align-items: center;
   height: auto !important;

}

.datails_profile p:last-child {
   font-size: 15px;
}


@media screen and (max-width:490px) {
.devlinks-img {
   display: none;
}
.devlinks {
   background-image: url(images/logo-devlinks-small.svg);
   background-repeat: no-repeat;
   width: 60px;
   height: 35px;
}
   .nav .main a,
      .nav .profile a
    {
         display: none;
      }
#preview-submit {
   display: none;
}
.preview {
   color: #603bfb;
      border: 1px solid #603bfb;
      padding: 7px 7px;
         font-size: 13px;
         border-radius: 7px;
}
.preview-img {
   background-image: url(images/icon-preview-header.svg);
   background-repeat: no-repeat;
   width: 30px;
   height: 20px;
   margin-left: 16px;

}

   
   .datails_profile h1 {
      color: #2e2e2e;
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;

   }

   .datails_profile p:last-child {
      font-size: 13px;
      width: 100%;
   }

   .names {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 0px;
      padding: 5px;
   }

   .form-profile input[type=text] {
      border-radius: 7px !important;
      border: 1px solid var(--Paragraph-color);
      padding: 10px;
      height: 50px;
   }


}


@media screen and (max-width:320px) {}