@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&family=Rubik:ital,wght@0,400;0,700;1,800&family=Shantell+Sans:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #603bfb;
    --sp-color: #efebfe;
    --body-color: #fafafa;
    --Paragraph-color: #9d9d9d;
    --font-family: 'Roboto', sans-serif;

}

a {
    list-style: none;
    text-decoration: none;
}


.container {
    width: 94%;
    margin: auto;
}

body {
    background: var(--body-color);
    font-family: var(--font-family);

}


.nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding: 0px 13px;
    align-items: center;
    background: #ffffff;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    padding: 0px 20px;
    border-radius: 10px;

}

.nav i {
    color: #603bfb;
    margin-right: 5px;
}

.nav .main,
.nav .profile,
.nav #preview {
    padding: 12px 15px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.nav .active{
    background: #efebfe;
    color: #775ce3;
    
}




.nav .profile:hover {
    background: #efebfe;
    color: #775ce3;
}
.nav #preview-submit {
    color: #603bfb;
    border: 1px solid #603bfb;
    background: none;
    padding: 12px 15px;
}



.nav #preview-submit:hover {
    background: #603bfb;
    color: #fff;
}


/* send-links */

.send-links {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}

.send-links .iphone-logo {
    padding: 100px;
    width: 100%;
    background-color: #fff;
}



.gethub {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: #191919;
    top: 68%;
    height: 48px;
    border-radius: 10px;
    left: 174px;
    width: 244px;
    color: #fff;

}

.logo-github {
    background: #fafafa;

}

 .gethub h2 {
    font-size: 14px;
    margin-right: 110px;


}

.youtube {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: #ef383a;
    top: 76%;
    height: 48px;
    border-radius: 10px;
    left: 173px;
    width: 244px;
    color: #fff;
}

 .logo-github {
    background: #fafafa;

}

.youtube h2 {
    font-size: 14px;
    margin-right: 110px;
}

.linkedin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: #2d69fe;
    top: 84%;
    height: 48px;
    border-radius: 10px;
    left: 173px;
    width: 244px;
    color: #fff;

}

.logo-github {
    background: #fafafa;

}

.linkedin h2 {
    font-size: 14px;
    margin-right: 110px;
}




/*links  */

.links {
    width: 100%;
    position: relative;
    padding: 40px 40px 100px 40px;
    background-color: #fff;
}


.links h1 {
    color: #2e2e2e;
    font-size: 35px;
    margin-bottom: 20px;

}

.links p {
    color: #949494;
    margin-bottom: 30px;

}


.links .add-new-link {
    width: 100%;
    background: none;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .4s;
    cursor: pointer;
}

.links .add-new-link:hover {
    background: #603bfb;
    color: #fff;
}

.links .first-link {
    background: #fafafa;
    padding: 15px;
    margin-bottom: 10px;
}


.links .linkes-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

}

.links .linkes-main h4 {
    font-size: 17px;
    margin-left: 35px;

}

.links .linkes-main .update {
    float: left;
    color: #e5e5e5;
    font-size: 20px;
    cursor: pointer;

}

.links .first-link {
    height: auto;
}

.links .first-link span {
    color: #9d9d9d;
    margin-bottom: 5px;

}

.links .first-link #selecetfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 17px 30px;
    border: 1px solid #e5e5e5;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

.links .first-link .chose-link {
    padding: 17px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.links .first-link #selecetfield p {
    position: absolute;
    transform: translate(55%, 90%);
}

.links .first-link .hide {
    width: 100%;
    background: #fff;
    border-radius: 7px;
}

.links .first-link .options {
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    position: relative;
    transition: all .2s;
    border-radius: 7px;
    cursor: pointer;
}

.links .first-link .options:hover {
    border: 1px solid #e5e5e5;
}

.links .first-link .options img {
    position: absolute;
    top: 16px;
    left: 32px;
}


.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.line {
    position: absolute;
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    right: 0px;
}

.save {
    margin-top: 20px;
}

#save {
    position: absolute;
    right: 34px;
    bottom: 0px;
    margin-bottom: 30px;
    padding: 12px 25px;
    border: none;
    background-color: var(--main-color);
    color: #e5e5e5;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s;
}

#save:hover {
    background-color: var(--body-color);
    border: 1px solid var(--main-color);
    color: var(--main-color)
}


/*  this style for profile page  */
.datails_profile {
    width: 100%;
    position: relative;
    padding: 40px 40px 100px 40px;
    background-color: #fff;
}


.datails_profile h1 {
    color: #2e2e2e;
    font-size: 35px;
    margin-bottom: 20px;

}

.datails_profile p {
    color: #949494;
    margin-bottom: 30px;

}




.change-image {
    position: relative;
    background: #fafafa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 200px !important;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
}


.file-image {
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    z-index: 1;

}

#chose-file {
    display: none;
}

label {
    position: absolute;
    top: 50%;
    left: 29%;
    color: #ffffff;
    z-index: 99;
    font-size: 13px;
    text-transform: capitalize;
    cursor: pointer;

}

.names {
    display: grid;
    /* height: 100px; */
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.form-profile {
    background: #fafafa;
    margin-bottom: 10px;
    padding: 15px;
}

.datails_profile .form-profile p {
    margin-top: 20px;
}

.form-profile input[type=text] {
    border-radius: 7px !important;
    border: 1px solid var(--Paragraph-color);
    padding: 10px;
    height: 50px;
}

.form-profile input:focus {
    border: none;
    outline: #baabde;

}

.form-profile input[type=text]:hover {
    box-shadow: 0 0 5pt 0.5pt #baabde;
}

/*  perview */


.header-mark {
    background-color: var(--main-color);
    height: 350px;
    margin: 0;
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.preview-share-link {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 0px 13px;
    align-items: center;
    background: #ffffff;
    width: 94%;
    height: 70px;
    margin-top: 30px;
    padding: 0px 20px;
    border-radius: 10px;
}

.preview-share-link .back-editer button,
.preview-share-link .share-link button {
    padding: 10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 7px;
    font-size: 15px;
    transition: all .2s;
    cursor: pointer;
}

.preview-share-link .back-editer button {
    background: none;
    color: var(--main-color);
}

.preview-share-link .share-link button {
    background: var(--main-color);
    color: var(--sp-color);
}

.preview-share-link .back-editer button:hover {
    background: var(--main-color);
    ;
    color: var(--sp-color);
}

.preview-share-link .share-link button:hover {
    background: none;
    color: var(--main-color);
}

.preview-result {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px;
    border-radius: 13px;
    width: 300px;
    height: 450px;
    background: #ffffff;
    position: relative;
    margin: auto;
    top: -170px;
}

.preview-result .preview-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: drop-shadow(0 0 .2rem var(--main-color));

}






/* .active  { 
    background: #efebfe;
        color: #775ce3;
}
.activetow {
    background: none;
} */

