@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&family=Rubik:ital,wght@0,400;0,700;1,800&family=Shantell+Sans:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #603bfb;
    --sp-color: #efebfe;
    --body-color: #fafafa;
    --Paragraph-color: #9d9d9d;
    --font-family: 'Roboto', sans-serif;

}

a {
    list-style: none;
    text-decoration: none;
}


.container {
    width: 94%;
    margin: auto;
}

body {
    background: var(--body-color);
    font-family: var(--font-family);

}

.nav .container {
    background: #ffffff;
    height: 100px;
    margin-top: 30px;
    padding: 0px 20px;
    border-radius: 10px;

}

.nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

}


.nav i {
    color: #603bfb;
    margin-right: 5px;
}

.nav .pages a {
    padding: 12px 25px;
    margin-right: 30px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    

}

.nav .pages .link {
    background: #efebfe;
    color: #775ce3;
}

.nav .link-profile,
.nav .link-profile i {
    color: #9d9d9d;
    transition: all .3s;
}

.nav .link-profile:hover {
    background: #efebfe;
    color: #775ce3;
}

.nav #preview {
    padding: 12px 25px;
    background: none;
    border: none;
    color: #603bfb;
    border: 1px solid #603bfb;
    font-size: 15px;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
}

.nav #preview:hover {
    background: #603bfb;
    color: #fff;

}


/* send-links */

.send-links {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}

.send-links .iphone-logo {
    padding: 100px;
    width: 100%;
    background-color: #fff;
}



.send-links .gethub {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: #191919;
    top: 68%;
    height: 48px;
    border-radius: 10px;
    left: 174px;
    width: 244px;
    color: #fff;

}

.send-links .logo-github {
    background: #fafafa;

}

.send-links .gethub h2 {
    font-size: 14px;
    margin-right: 110px;


}

.send-links .youtube {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: #ef383a;
    top: 76%;
    height: 48px;
    border-radius: 10px;
    left: 173px;
    width: 244px;
    color: #fff;
}

.send-links .logo-github {
    background: #fafafa;

}

.send-links .youtube h2 {
    font-size: 14px;
    margin-right: 110px;
}

.send-links .linkedin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: #2d69fe;
    top: 84%;
    height: 48px;
    border-radius: 10px;
    left: 173px;
    width: 244px;
    color: #fff;

}

.send-links .logo-github {
    background: #fafafa;

}

.send-links .linkedin h2 {
    font-size: 14px;
    margin-right: 110px;
}




/*customize  */

.customize {
    width: 100%;
    position: relative;
    padding: 40px 40px 100px 40px;
    background-color: #fff;
}


.customize h1 {
    color: #2e2e2e;
    font-size: 35px;
    margin-bottom: 20px;

}

.customize p {
    color: #949494;
    margin-bottom: 30px;

}


.customize .add-new-link {
    width: 100%;
    background: none;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .4s;
    cursor: pointer;
}

.customize .add-new-link:hover {
    background: #603bfb;
    color: #fff;
}

.customize .link1 {
    background: #fafafa;
    padding: 15px;
    margin-bottom: 10px;
}


.customize .linkes-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

}

.customize .linkes-main h4 {
    font-size: 17px;
    margin-left: 35px;
    
}

.customize .linkes-main .drag {
float: left;
    color: #e5e5e5;
    font-size: 20px;

}

.customize .link1 {
    height: auto;
}

.customize .link1 span {
    color: #9d9d9d;
    margin-bottom: 5px;

}

.customize .link1 #selecetfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 17px 30px;
    border: 1px solid #e5e5e5;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

.customize .link1 .chose-link {
    padding: 17px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.customize .link1 #selecetfield p {
    position: absolute;
    transform: translate(55%, 90%);
}

.customize .link1 #list {
    width: 100%;
    background: #fff;
    border-radius: 7px;

}

.customize .link1 .options {
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    position: relative;
    transition: all .2s;
    border-radius: 7px;
    cursor: pointer;

}

.customize .link1 .options:hover {
    border: 1px solid #e5e5e5;
}

.customize .link1 .options img {
    position: absolute;
    top: 16px;
    left: 32px;
}

.customize .link1 ul p {
    /* color:#603bfb; */
}


.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.line {
    position: absolute;
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    right: 0px;
}

.save {
    margin-top: 20px;
}

#save {
    position: absolute;
    right: 34px;
    bottom: 0px;
    margin-bottom: 30px;
    padding: 12px 25px;
    border: none;
    background-color: var(--main-color);
    color: #e5e5e5;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s;
}

#save:hover {
    background-color: var(--body-color);
    border: 1px solid var(--main-color);
    color: var(--main-color)
}